<div class="trifid-content">
    <h1>Welcome to the GIPOD subject pages</h1>
    <ul>
        <li>
            <a href="/mobility-hindrances/15732676/33382013" target="_blank" rel="noopener noreferrer">
                Example of a GIPOD entity
            </a>
        </li>

        <li>
            <a href="https://www.vlaanderen.be/digitaal-vlaanderen/onze-oplossingen/generiek-informatieplatform-openbaar-domein-gipod"
               target="_blank" rel="noopener noreferrer">GIPOD</a>
        </li>

        <li>
            <a href="https://www.vlaanderen.be/vlaamse-smart-data-space-portaal" target="_blank"
               rel="noopener noreferrer">VSDS Portal</a>
        </li>

        <li>
            <a href="https://github.com/zazuko/trifid/wiki" target="_blank" rel="noopener noreferrer">
                Trifid documentation
            </a>
        </li>

        <li>
            <a href="https://github.com/zazuko/trifid" target="_blank" rel="noopener noreferrer">
                Trifid GitHub repository
            </a>
        </li>

        <li>
            <a href="https://github.com/zazuko/trifid/issues/new" target="_blank" rel="noopener noreferrer">
                Report a Trifid bug
            </a>
        </li>
    </ul>
</div>
